img{
    width: 200px;
}
h1{
    color: yellow;
    background-color: lightblue;
}
p{
    color: crimson;
    background-color: bisque;
}
h2{
    background-color: cornflowerblue;
}
a{
    color: #ffff48;
    text-decoration: none;
}
ul{
    background-color: aquamarine;
}
li{
    color: blueviolet;
}